<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".huawei"
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="Live Football"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".News"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            />
        <activity
            android:name=".Videos"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
             />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"

            />
        <activity
            android:name=".Tv_Chnnels"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"

            />
        <activity android:name=".Player"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".Middle22"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".Second22"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".Middle"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"/>
        <activity android:name=".Middleweb"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".Splash"
            android:exported="true"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>